{% extends './panel.html'%}
{% block paneltitle %}{{title}}{% endblock paneltitle %}
{% block panel %}
    <ul class="nav nav-tabs">
        {% for p_entry in plots %}
            {% if forloop.first %}
                <li class="active"><a data-toggle="tab" href="#{{ids}}{{forloop.counter0}}">{{p_entry.0}}</a></li>
            {% else %}
                <li><a data-toggle="tab" href="#{{ids}}{{forloop.counter0}}">{{p_entry.0}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for p_entry in plots %}
        {% if forloop.first %}
            <div id="{{ids}}{{forloop.counter0}}" class="activity-tab tab-pane fade in active">
            {% else %}
            <div id="{{ids}}{{ forloop.counter0 }}" class="activity-tab tab-pane fade">
        {% endif %}
        <div>
            {{ p_entry.1|safe }}
        </div>
        </div>
    {% endfor %}
</div>
{% endblock panel %}