{% extends './panel.html'%}
{% block paneltitle %}{{title}}{% endblock paneltitle %}
{% block panel %}
<ul class="nav nav-tabs">
    {% for t_entry in tables %}
        {% if forloop.first %}
            <li class="active"><a data-toggle="tab" href="#auth{{forloop.counter0}}">{{t_entry.0}}</a></li>
        {% else %}
            <li><a data-toggle="tab" href="#auth{{forloop.counter0}}">{{t_entry.0}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<div class="tab-content">
{% for t_entry in tables %}
    {% if forloop.first %}
        <div id="auth{{forloop.counter0}}" class="tab-pane fade in active">
        {% else %}
        <div id="auth{{ forloop.counter0 }}" class="tab-pane fade">
        {% endif %}
        <table id="authorities-table" class="table table-striped table-hover">
            <thead>
            <tr>
                {% for h in headers %}
                    <th>{{h}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in t_entry.1 %}
                <tr>
                    <th>{{row.name|floatformat:"-5"}}</th>
                    <td>{{row.in_degree|floatformat:"-5"}}</td>
                    <td>{{row.out_degree|floatformat:"-5"}}</td>
                    <td>{{row.pagerank|floatformat:"-5"}}</td>
                    <td>{{row.kl_auth|floatformat:"-5"}}</td>
                    <td>{{row.kl_hub|floatformat:"-5"}}</td>
                    <td>{{row.avg_connectivity|floatformat:"-5"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
</div>
{% endblock panel %}