<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}MaDaMa{% endblock title %}</title>
        <!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <style>
            .not-active {
               pointer-events: none;
               cursor: default;
            }
            .navbar-center {
              transform: translateX(-50%);
              left: 50%;
              position: absolute;
            }
            #loader {
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 1;
              width: 150px;
              height: 150px;
              margin: -75px 0 0 -75px;
              border: 16px solid #f3f3f3;
              border-radius: 50%;
              border-top: 16px solid #3498db;
              width: 120px;
              height: 120px;
              -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }

            /* Add animation to "page content" */
            .animate-bottom {
              position: relative;
              -webkit-animation-name: animatebottom;
              -webkit-animation-duration: 1s;
              animation-name: animatebottom;
              animation-duration: 1s
            }

            @-webkit-keyframes animatebottom {
              from { bottom:-100px; opacity:0 }
              to { bottom:0px; opacity:1 }
            }

            @keyframes animatebottom {
              from{ bottom:-100px; opacity:0 }
              to{ bottom:0; opacity:1 }
            }

            #myDiv {
              display: none;
              text-align: center;
            }
            .navbar-default {
              background-color: #3c89e7;
              border-color: #2b54c0;
            }
            .navbar-default .navbar-brand {
              color: #ffffff;
              font-weight: bold;
              font-size-adjust: 0.58;
            }
            .navbar-default .navbar-brand:hover,
            .navbar-default .navbar-brand:focus {
              color: #ffffff;
            }
            .navbar-default .navbar-text {
              color: #ecf0f1;
            }
            .navbar-default .navbar-nav > li > a {
              color: #ecf0f1;
            }
            .navbar-default .navbar-nav > li > a:hover,
            .navbar-default .navbar-nav > li > a:focus {
              color: #ffffff;
            }
            .navbar-default .navbar-nav > .active > a,
            .navbar-default .navbar-nav > .active > a:hover,
            .navbar-default .navbar-nav > .active > a:focus {
              color: #ffffff;
              background-color: #2b54c0;
            }
            .navbar-default .navbar-nav > .open > a,
            .navbar-default .navbar-nav > .open > a:hover,
            .navbar-default .navbar-nav > .open > a:focus {
              color: #ffffff;
              background-color: #2b54c0;
            }
            .navbar-default .navbar-toggle {
              border-color: #2b54c0;
            }
            .navbar-default .navbar-toggle:hover,
            .navbar-default .navbar-toggle:focus {
              background-color: #2b54c0;
            }
            .navbar-default .navbar-toggle .icon-bar {
              background-color: #ecf0f1;
            }
            .navbar-default .navbar-collapse,
            .navbar-default .navbar-form {
              border-color: #ecf0f1;
            }
            .navbar-default .navbar-link {
              color: #ecf0f1;
            }
            .navbar-default .navbar-link:hover {
              color: #ffffff;
            }

            @media (max-width: 767px) {
              .navbar-default .navbar-nav .open .dropdown-menu > li > a {
                color: #ecf0f1;
              }
              .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
              .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
                color: #ffffff;
              }
              .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
              .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
              .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
                color: #ffffff;
                background-color: #2b54c0;
              }
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MaDaMa</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dash/">Home</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-center">
                <li><a href="#title" class="not-active">{% block pageheader %}{% endblock pageheader %}</a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#info">Info</a></li>
          </ul>
        </div>
      </div>
    </nav>
    	<div class="container">
    		{% block content %}
    		{% endblock content %}
    	</div>
    </body>
    {% block javascript %}
    {% endblock javascript %}
</html>