{% extends './base.html' %}

{% block title %}Dashboard{% endblock title%}

{% block pageheader %}<strong>Dashboard: {{file_name|default:''}}</strong>{%endblock pageheader%}

{% block content %}
<div id="results">
<div id="loader"></div>
</div>
{% endblock content %}




{% block javascript %}
<script>
        function showResults(){
          document.getElementById("loader").style.display = "none";
        }
        $.ajax({
            url: 'ajax/authorities',
            async: true,
            dataType: 'json',
            success: function(data){
                $('#results').append(data.auth);
                $('#results').append(data.svg);
                showResults();
            },
            error: function(jqXHR, status, error){
                $('#results').append(error);
        }});

        $.ajax({
            url: 'ajax/activity',
            async: true,
            dataType: 'json',
            success: function(data){
                $('#results').append(data.plot);
                showResults();
            },
            error: function(jqXHR, status, error){
                $('#results').append(error);
            }
        }).then(
            function(){
                var update = {
                    width: $('.svg-container').width(),
                    height: $('.svg-container').height()
                }
              $('.plotly-graph-div').each(function(){
                    var id = $(this).attr('id');
                    Plotly.relayout(id, update);
              });
        });

        $.ajax({
            url: 'ajax/degree-distr',
            async: true,
            dataType: 'json',
            success: function(data){
                $('#results').append(data.plot);
                showResults();
            },
            error: function(jqXHR, status, error){
                $('#results').append(error);
        }}).then(
            function(){
                var update = {
                    width: $('.svg-container').width(),
                    height: $('.svg-container').height()
                }
              $('.plotly-graph-div').each(function(){
                    var id = $(this).attr('id');
                    Plotly.relayout(id, update);
              });
        });

        $.ajax({
            url: 'ajax/graph-metrics',
            async: true,
            dataType: 'json',
            success: function(data){
                $('#results').append(data.table);
                showResults();
            },
            error: function(jqXHR, status, error){
                $('#results').append(error);
        }});
</script>
{% endblock javascript %}