{% extends './panel.html'%}
{% block paneltitle %}{{title}}{% endblock paneltitle %}
{% block panel %}
<table id="metrics-table" class="table table-striped table-hover">
            <thead>
            <tr>
                {% for h in headers %}
                    <th>{{h}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in table %}
                <tr>
                    <th>{{row.0}}</th>
                    {%for e in row.1%}
                    <td>{{e}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock panel %}