{% extends './base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
    {{ upload_form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
        <p class="help-block">Chose a .gml file to upload.</p>
    </div>
</form>
{% endblock content %}