<div class="panel panel-primary animate-bottom">
  <div class="panel-heading">
    <h3 class="panel-title">{% block paneltitle %}{% endblock paneltitle %}</h3>
  </div>
  <div class="panel-body">
      {% block panel %}
      {% endblock panel %}
  </div>
</div>